*.log
*.html
*.rpt

/*.cycdx
/*.cyfit
/*.icf
/*.ld
/*.scat

/cy_ipc_config.*
/cy_ble_config.*

/system_psoc63.h
/system_psoc63_cm0plus.c
/system_psoc63_cm4.c

/armgcc
/codegentemp
/iar
/mdk
/CortexM0p
/CortexM4
/Export
/Generated_Source

